<div class="container">
  <div class="col-md-12">
    <div class="col-sm-6">
      <h2>Posts List</h2>
    </div>
    <div class="col-sm-6 col-filter">
      <input (input)="filterPosts($event.target.value)" type="text" name="filter" class="input-filter" placeholder="Search">
    </div>
    <div class="col-sm-12">
      <ul class="list-group">
        <li (click)="viewPost(post)" class="list-group-item" *ngFor="let post of posts">{{post.id}}. <img src="{{post.id}}.png" alt="{{post.id}}.png"> {{post.title}}</li>
      </ul>
      <span *ngIf="showEmptyMessage">There is no post for the search executed</span>
    </div>
  </div>
</div>

<modal #postModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Post {{post.id}}</h4>
    </modal-header>
    <modal-body>
        <post-detail [model]="post" [bestPosts]="bestPosts"></post-detail>
    </modal-body>
</modal>